<title>支付页</title>

<link rel="stylesheet" type="text/css" href="/static/home/css/pages-pay.css"/>


<div class="cart py-container">
    <!--主内容-->
    <div class="checkout py-container  pay">
        <div class="checkout-tit">
            <h4 class="tit-txt"><span class="success-icon"></span><span
                    class="success-info">订单提交成功，请您及时付款，以便尽快为您发货~~</span></h4>
            <div class="paymark">
                <span class="fl">请您在提交订单<em class="orange time">半小时</em>之内完成支付，超时订单会自动取消。订单号：<em>{$order.order_sn}</em></span>
                <span class="fr"><em class="sui-lead">应付金额：</em><em
                        class="orange money">￥{$order.order_amount}</em></span>
            </div>
        </div>
        <div class="qrpay">
            <div class="step-tit">
                <h5>扫码付(支持支付宝、微信)</h5>
            </div>
            <div class="step-cont">
                <img src="{$qr_path}" style="width:200px;height:200px;">
            </div>
        </div>
        <div class="checkout-steps">
            <!--收件人信息-->
            <div class="step-tit">
                <h5>支付平台</h5>
            </div>
            <div class="step-cont">
                <ul class="payType">
                    {foreach $pay_type as $k=>$v}
                    <li pay_type="{$k}" class="{if($k=='alipay')}selected{/if}"><img src="{$v.logo}"></li>
                    {/foreach}
                </ul>
            </div>
            <div class="hr"></div>
            <div class="submit sui-text-center">
                <a class="sui-btn btn-danger btn-xlarge" href="javascript:;">立即支付</a>
            </div>
        </div>
    </div>

</div>
<form action="{:url('home/order/topay')}" method="post" style="display:none">
    <input type="hidden" name="id" value="{$order.id}">
    <input type="hidden" name="pay_type" value="">
</form>
<script type="text/javascript">
    $(function () {
        //轮询，查询支付状态
        var order_sn = "{$order.order_sn}";
        var timer = setInterval(function () {
            $.ajax({
                'url': "{:url('home/order/status')}",
                'type': 'post',
                'data': 'order_sn=' + order_sn,
                'dataType': 'json',
                'success': function (res) {
                    if (res.code == 200 && res.data == 1) {
                        clearInterval(timer);
                        location.href = "{:url('home/order/payresult')}?order_sn=" + order_sn;
                    }
                }
            })
        },1000);
        $("ul.payType li").click(function () {
            $('ul.payType li').removeClass('selected');
            $(this).addClass('selected');
        });
        var order_time = "{:strtotime($order.create_time)}";
        var dingshi = function () {
            var now_time = Math.floor((new Date()).getTime() / 1000);  //获取当前时间戳，转为秒为单位
            var end_time = parseInt(order_time) + 30 * 60;
            var seconds = end_time - now_time;
            if (seconds < 0) {
                //订单付款超时
                $('.paymark span:first').html('订单超时，已自动取消');
                $('.submit').off('click');
                clearInterval(timer);
                return;
            }
            var minutes = Math.floor(seconds / 60);
            var second = seconds % 60;
            $('.time').html(minutes + '分钟' + second + '秒');
        }
        var timer = setInterval(dingshi, 1000);
        dingshi();
        $('.submit').click(function () {
            //获取选择的支付方式
            var pay_type = $('.payType li.selected').attr('pay_type');
            //放到隐藏表单中
            $('input[name=pay_type]').val(pay_type);
            //提交表单
            $('form').submit();
        })
    })
</script>
</body>

</html>