<title>设置-个人信息</title>
<link rel="icon" href="/assets/img/favicon.ico">

<link rel="stylesheet" type="text/css" href="/static/home/css/pages-seckillOrder.css"/>

<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            {include file="member_left"/}
            <!--右侧主内容-->
            <div class="yui3-u-5-6">
                <div class="body userInfo">
                    <ul class="sui-nav nav-tabs nav-large nav-primary ">
                        <li class="active"><a href="#one" data-toggle="tab">基本资料</a></li>
                        <li><a href="#two" data-toggle="tab">头像照片</a></li>
                    </ul>
                    <div class="tab-content ">
                        <div id="one" class="tab-pane active">
                            <form id="form-msg" class="sui-form form-horizontal" action="{:url('home/center/edit')}" method="post">
                                <div class="control-group">
                                    <label for="inputName" class="control-label">昵称：</label>
                                    <div class="controls">
                                        <input type="text" id="inputName" name="nickname" value="{$userinfo.nickname}"
                                               placeholder="昵称">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputGender" class="control-label">性别：</label>
                                    <div class="controls">
                                        <label data-toggle="radio"
                                               class="radio-pretty inline {if($userinfo.gender=='男')}checked{/if}">
                                            <input type="radio" name="gender" value="男"><span>男</span>
                                        </label>
                                        <label data-toggle="radio"
                                               class="radio-pretty inline {if($userinfo.gender=='女')}checked{/if}">
                                            <input type="radio" name="gender" value="女"><span>女</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputPassword" class="control-label">生日：</label>
                                    <div class="controls">
                                        <select id="select_year2" name="year" rel="{$userinfo.year}"></select>年
                                        <select id="select_month2" name="month" rel="{$userinfo.month}"></select>月
                                        <select id="select_day2" name="date" rel="{$userinfo.date}"></select>日
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label for="inputPassword" class="control-label">所在地：</label>
                                    <div class="controls">
                                        <div id="distpicker">
                                            <div class="form-group area">
                                                <select class="form-control" id="province1"
                                                        v="{$userinfo.province}" name="province"></select>
                                            </div>
                                            <div class="form-group area">
                                                <select class="form-control" id="city1" v="{$userinfo.city}" name="city"></select>
                                            </div>
                                            <div class="form-group area">
                                                <select class="form-control" id="district1"
                                                        v="{$userinfo.district}" name="district"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputJob" class="control-label">职业：</label>
                                    <input type="text" name="job" value="{$userinfo.job}">
                                </div>
                                <div class="control-group">
                                    <label for="sanwei" class="control-label"></label>
                                    <div class="controls">
                                        <button type="submit" class="sui-btn btn-primary">立即注册</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="two" class="tab-pane">
                            <form action="{:url('home/center/logo')}" method="post" enctype="multipart/form-data">
                                <div class="new-photo">
                                    <p>当前头像：</p>
                                    <div class="upload">
                                        <img id="imgShow_WU_FILE_0" width="100" height="100" src="{$userinfo.logo}">
                                        <input type="file" name="logo" id="up_img_WU_FILE_0" @change="onFileChange"/><br>
                                        <input type="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/home/js/all.js"></script>
<script type="text/javascript" src="/static/home/js/pages/main.js"></script>
<script>
    $(function () {
        $.ms_DatePicker({
            YearSelector: "#select_year2",
            MonthSelector: "#select_month2",
            DaySelector: "#select_day2"
        });
        $('#distpicker').distpicker('destroy').distpicker({
            province: $('#province1').attr('v'),
            city: $('#city1').attr('v'),
            district: $('#district1').attr('v'),
        });
    });
</script>
</body>

</html>